<div class="footer clearfix">
	<div class="wp">
		<div class="footerleft">
			<ul>
				<li><a href="/aboutus.html#jiaru">加入我们</a>|</li>
				<li><a href="/aboutus.html#huoban">合作信息</a>|</li>
				<li><a href="/aboutus.html#guanyu">关于我们</a>|</li>
				<li><a href="/aboutus.html#lianxi">联系我们</a>|</li>
				<li><a href="/aboutus.html#tuandui">我们的团队</a></li>
			</ul>
			<div>
				电信与服务业务许可证：<br>
			</div>
		</div>
		<div class="footerright">
			<img src="/skin/dir2/images/weixin.png" class="fl" />
		</div>
	</div>
</div>
<div class="footerbottom" align="center">Copyright 2016 网站domain 版权所有 About domain</div>
{include file="public/tongji"}
<?php if($showcheckedtips){?><div class="donotshare">目前此信息还未审核通过，只有<?php echo ($info['ismember'] and $info['userid']==$user['userid'])?'你自己':'管理员'?>可以查看，请暂时不要分享此地址给其他人。</div><?php }?>