<div class="header">
	<div class="header2">
		<div class="wp clearfix">
			<div class="headerleft">
				<div class="nav">
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="#zixun">资讯</a></li>
						<li><a href="/pic/">图赏</a></li>
						<li><a href="/video/">视频</a></li>
						<li><a href="/zhibo/">直播</a></li>
						<li><a href="/youji/">游记</a></li>
						<li><a href="/zhuanti.html">专题</a></li>
					</ul>
				</div>
			</div>
			<div class="headerright">
				<div class="useract" id="topuseract">{include file="user/useract"}</div>
			</div>
		</div>
	</div>
	<div class="header1">
		<div class="header1cont">
			<div class="wp clearfix">
				<div class="sanjiao"></div>
				<div class="headerleft">
					<a class="logo" href="/"><img src="/skin/dir2/images/logo1.png" /></a>
					<div class="nav">
						<ul>
							<li><a href="/xinpin/">手机新品</a></li>
							<li><a href="/xinwen/">行业新闻</a></li>
							<li><a href="/pingche/">产品评测</a></li>
							<li><a href="/daogou/">购机推荐</a></li>
							<li><a href="/jiadian/">智能家电</a></li>
						</ul>
					</div>
				</div>
				<div class="headerright">
					<div class="topsch">{include file="public/searchform"}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>headerzixun();</script>