<?php if(!defined('InEmpireCMS'))exit();?>
<div class="header1">
<div class="wp wp2 clearfix">
<div class="headerleft">
	<a class="logo" href="/"><img src="/skin/dir2/images/logo1.png" /></a>
	<div class="nav">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/xinpin/">新品</a></li>
			<li><a href="/xinwen/">行业</a></li>
			<li><a href="/pingche/">评测</a></li>
			<li><a href="/daogou/">导购</a></li>
			<li><a href="/jiadian/">家电</a></li>
			<li><a href="/pic/">图赏</a></li>
			<li><a href="/video/">视频</a></li>
			<li><a href="/zhibo/">直播</a></li>
			<li><a href="/youji/">游记</a></li>
			<li><a href="/zhuanti.html">专题</a></li>
		</ul>
	</div>
</div>
<div class="headerright">
	<div class="topsch">{include file="public/searchform"}</div>
	<div class="useract">{include file="user/useract"}</div>
</div>
</div>
</div>
<script>headnav4();</script>