{extend name="base/base"}
{block name="body"}
{include file="ucenter/menu"}
<div class="global">
<h4>修改资料</h4>
<form method="post" id="form1">
	<div class="input2 clearfix">
		<label class="label">真实姓名：</label>
		<input type="text" class="input" name="truename" id="truename" value="<?php echo $user[truename]?>" />
	</div>
	<div class="input2 clearfix">
		<label class="label">手机号：</label>
		<input type="text" class="input" name="phone" id="phone" value="<?php echo $user[phone]?>" />
	</div>
	<div class="input2 clearfix">
		<label class="label">联系地址：</label>
		<input type="text" class="input" name="address" id="address" value="<?php echo $user[address]?>" />
	</div>
	<div class="input2 clearfix">
		<label class="label">支付宝：</label>
		<input type="text" class="input" name="alipay" id="alipay" value="<?php echo $user[alipay]?>" />
	</div>
	<div class="input2 clearfix">
		<label class="label">银行账号：</label>
		<input type="text" class="input" name="bankcard" id="bankcard" value="<?php echo $user[bankcard]?>" />
	</div>
	<div class="input2 clearfix">
		<label class="label">个人简介：</label>
		<textarea name="saytext" id="saytext"><?php echo $user[saytext]?></textarea>
	</div>

	<input type="submit" value="修改" class="submit1" id="button" />
</form>
</div>
{/block}
{block name="files"}
<link href="/css/ucenter.css" rel="stylesheet" type="text/css" />
{/block}
{block name="script"}
<script>
$(document).ready(function(e){
	$("#form1").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(res){
			if(res.ok){
				okmsg(res.msg,function(){location.reload();});
			} else {
				errmsg(res.msg);
			}
		}
	});
});
</script>
{/block}