{extend name="base/base"}
{block name="body"}
{include file="ucenter/menu"}
<div class="global msg">
<form id="form1" method="post" action="javascript:void(0);">
	<div>
		<div class="title3">
			<label><input type="checkbox" value="1" name="chkall" onClick="CheckAll(this.form,this);" />全选</label>
			<input type="submit" name="submit" value="标记为已读" />
			<input type="submit" name="submit" value="删除" />
		</div>
		<ul>
<?php
if($rscount>0){
foreach($userlist as $k=>$v){
?>
	<li idvalue="<?php echo $v[mid]?>">
		<div class="clearfix">
			<div class="ckinput"><input type="checkbox" name="mid[]" value="<?php echo $v[mid]?>" /></div>
			<a class="ptmsga clearfix" href="<?php echo url('ucenter/usermsgshow',['userid'=>($v[isfrom]?$v['touid']:$v['fromuid']),'page'=>'last']);?>">
				<div class="msgicon"><i class="<?php echo ($v[haveread] or $v[isfrom])?"fa-envelope-open":"fa-envelope"?>" FontAwesome></i></div>
				<div class="msgtitle clearfix"><div class="fl"><?php echo $v[isfrom]?"$v[touname]":"$v[fromuname]"?></div><div class="fr"><?php echo $v[msgtimestr];?></div></div>
			</a>
		</div>
	</li>
<?php
}
}else{
	?><div class="nors">暂无消息！</div><?php
}
?>
		</ul>
		<?php if($rscount>1){?>
		<div class="title3 btitle3">
			<label><input type="checkbox" value="1" name="chkall2" onClick="CheckAll(this.form,this);" />全选</label>
			<input type="submit" name="submit" value="标记为已读" />
			<input type="submit" name="submit" value="删除" />
		</div>
		<?php }?>
	</div>
</form>
<div class="page2"><?php echo $pagehtml;?></div>
</div>
{/block}
{block name="files"}
<link href="/css/ucenter.css" rel="stylesheet" type="text/css" />
{/block}
{block name="script"}
<script>
$(document).ready(function(){
	$('#form1 input[type="submit"]').click(function(){
		if($('.ckinput input:checked').length==0){
			errmsg('请先选择消息！');
			return false;
		}
		var submit=$(this).val();
		var res=$('#form1').serializeArray();
		res.push({name:'submit',value:submit});
		if(submit=='删除'){
			ConfirmBox({text:'确定删除吗？',title:'操作确认',ok:function(){
				post();
			}});
		}else{
			post();
		}
		function post(){
			$.post("<?php echo url('/ucenter/userhandle')?>",$.param(res),function(res){
				if(res.ok){
					okmsg(res.msg,function(){
						$('.ckinput input:checked').each(function(){
							var mid=$(this).val();
							if(submit=='删除'){
								$('li[idvalue="'+mid+'"]').remove();
							}else{
								$("li[idvalue='"+mid+"']").find(".msgicon i").removeClass("fa-envelope").addClass("fa-envelope-open");
							}
							updateHaveMsg();
						});
						$('#form1 input:checkbox').each(function(){
							$(this)[0].checked=false;
						});
					});
				}else{
					errmsg(res.msg);
				}
			},'json');
		}
		return false;
	});
	$('.msgtext').find('a').each(function(index,element){
		if($(this).attr('target')!='_blank'){
			$(this).attr('target','_blank');
		}
	});
});
function updateHaveMsg(){
	if(!isNaN($('.userweidu').html())){
		$('.userweidu').html(parseInt($('.userweidu').html())-1);
		$('.weidu').html(parseInt($('.weidu').html())-1);
	}
	if($('.userweidu').html()=='0')$('.userweidu').remove();
	if($('.weidu').html()=='0'){
		$('.weidu').remove();
		$('.havemsg').remove();
	}
}
function CheckAll(form,chkall){
	$(form).find(':checkbox').prop('checked',$(chkall).is(':checked'));
}
</script>
{/block}