{extend name="base/base3"}
{block name="body"}
<div class="passport getpassword">
	<div class="main">
		<form name="form1" method="post" id="form1">
			<div class="input1 clearfix">
				<input type="text" id="email" name="email" placeholder="电子邮箱" value="" />
			</div>
			<div class="posr input1 vcode">
				<input type="text" id="vcode" name="vcode" placeholder="验证码" />
				<div class="getvcode"><a href="javascript:void(0);" onClick="vcode(vcodeval(),1);">获取</a></div>
			</div>
			<div class="input1 clearfix">
				<input type="password" name="password" id="password" placeholder="密码" />
			</div>
			<div class="input1 clearfix">
				<input type="password" name="repassword" id="repassword" placeholder="确认密码" />
			</div>
			<div class="checkinput clearfix">
				<input type="hidden" name="ispassport" value="1" />
				<div class="fl"><input type="submit" value="提交" id="button" /></div>
				<div class="fr mt10"><a href="/login.html">返回登录</a></div>
			</div>
		</form>
	</div>
</div>
{/block}
{block name="style"}
<style>
#form1{margin-top:50px;}
</style>
{/block}
{block name="files"}
<link rel="stylesheet" href="/skin/pai3/ConfirmBox/ConfirmBox.css" />
<script src="/skin/pai3/ConfirmBox/ConfirmBox.js"></script>
<link rel="stylesheet" href="/skin/pai3/css/passport.css" />
{/block}
{block name="script"}
<script>
top.window.passportbox.show().sizeto({width:510,height:500});
top.window.passportbox.title("找回密码");
function vcodeval(){
	return $("#email").val();
}
$(function(){
	$("#form1").submit(function(){
		var self = $(this);
		if(!isemail(self.find('input[name="email"]').val())){
			errmsg('请填写正确的电子邮箱！');
			return false;
		}
		if(!self.find('input[name="vcode"]').val()){
			errmsg('请填写验证码！');
			return false;
		}
		if(!self.find('input[name="password"]').val()){
			errmsg('请填写密码！');
			return false;
		}
		if(self.find('input[name="password"]').val()!=self.find('input[name="repassword"]').val()){
			errmsg('重复密码不正确！');
			return false;
		}
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(res){
			if(res.ok){
				okmsg(res.msg,function(){
					location='/login.html';
				});
			} else {
				errmsg(res.msg);
			}
		}
	});
});
</script>
{/block}