<div class="global">
<div class="top2 clearfix">
<div class="top1 clearfix">
<a href="/" class="logo"><img src="/images/logo2.png" /></a>
<a href="javascript:topmenu();" class="menuSwitch fa fa-bars"></a>
</div>
<div class="topmenu">
	<ul class="topnav clearfix">
		<li class="class_index"><a href="/">首页</a></li>
		<li class="class_xinpin"><a href="/xinpin/">新品</a></li>
		<li class="class_pingce"><a href="/pingche/">评测</a></li>
		<li class="class_daogou"><a href="/daogou/">导购</a></li>
		<li class="class_xinwen"><a href="/xinwen/">新闻</a></li>
		<li class="class_shipin"><a href="/video/">视频</a></li>
		<li class="class_tushang"><a href="/pic/">图赏</a></li>
		<li class="class_youji"><a href="/youji/">游记</a></li>
		<li class="class_zhibo"><a href="/zhibo/">直播</a></li>
		<li class="class_jiadian"><a href="/jiadian/">家电</a></li>
		<li class="class_jiqiao"><a href="/jiqiao/">技巧</a></li>
		<li class="class_jizhe"><a href="/editor.html">作者</a></li>
	</ul>
	<?php if(!$_GET['keywords']){?>{include file="news/searchform"}<?php }?>
	<div class="useract">{include file="user/useract2"}</div>
</div>
</div>
</div>