<!DOCTYPE HTML>
<html>
<head>
	{include file="public/head"}
	{block name="files"}{/block}
	{block name="style"}{/block}
	{block name="script"}{/block}
</head>
<body>
	<div class="header clearfix">
		<div class="fl hdleft">
			{block name="header"}{/block}
		</div>
		{if condition="$rlinks"}
			<div class="links clearfix">
				<?php
					foreach($rlinks as $k=>$v){
						echo "<a href='$v'>$k</a>&nbsp;&nbsp;";
					}
				?>
			</div>
		{/if}
	</div>
	<script>
	if($('.header div *').length==0){
		$('.header').remove();
	}else if($('.header .hdleft *').length==0){
		if($('.links').length>0)$('.links').addClass('fl');
	}
	</script>
	{block name="body"}{/block}
	{include file="public/footer"}
</body>
</html>