<div class="global">
<div class="nav2">
	<a href="http://m.domain.com/index.php" target="_blank">首页</a>
<?php $classidarr=toutf8(short_class());?>
<?php foreach($classidarr as $k=>$v){
	echo "<a href=\"http://m.domain.com/".$class_r[$k][classpath]."/\" target=\"_blank\">".toutf8($v)."</a>";
}?>
</div>
<mip-img src="http://m.domain.com/images/qrcode.jpg" width="100%"></mip-img>
<div class="bottom clearfix">
	<div class="btn">
		<a class="a" href="http://www.domain.com/mobile/mt.php" target="_blank">手机版</a>
		<a href="http://www.domain.com/mobile/pc.php" target="_blank">电脑版</a>
	</div><br><br>
	<font size="-1">
		电信与服务业务许可证：(<a href="http://www.miitbeian.gov.cn/" target="_blank">bbb</a>) <br>
		Copyright <?php echo date('Y');?> &copy; 网站 版权所有 About domain
	</font>
</div>
</div>
<script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
<script src="https://mipcache.bdstatic.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
<script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
</body>
</html>