<?php
if($bqi==1){
$v['newstime']=date("Y-m-d",$v['newstime']);?>
<li class="clearfix">
	<a href="<?php echo $v['titleurl']?>" class="img" target="_blank"><mip-img src='<?php echo $v['titlepic']?>'></mip-img></a>
	<div class="lir">
		<a href="<?php echo $v['titleurl']?>" class="tit" target="_blank"><?php echo $v['ftitle']?$v['ftitle']:$v['title']?></a>
		<span><?php echo $v['smalltext']?></span>
		<div class="infob">
			<div class="time"><?php echo $v['newstime']?></div>
		</div>
	</div>
</li>
<?php }else{ ?>
<li class="lidian"><a href="<?php echo $v['titleurl']?>" class="tit" target="_blank"><?php echo $v['title']?></a></li>
<?php }?>