{extend name="base/base"}
{block name="body"}
<div class="passport">
	<h3><?=$pagetitle?></h3>
	<form action="/getpassword.html" method="post" name="form1" id="form1" class="p05em">
		<input type="text" id="email" name="email" placeholder="电子邮箱" />
		<div class="vcode1 clearfix">
			<input type="text" name="vcode" id="vcode" placeholder="验证码" />
			<div class="getvcode2"><a href="javascript:vcode2(vcodeval(),1);">获取</a></div>
		</div>
		<input type="password" name="password" id="password" placeholder="密码" />
		<input type="password" name="repassword" id="repassword" placeholder="确认密码" />
		<input type="submit" value="提交" id="button" />
		<div class="action clearfix">
			<a href="login.html">返回登录</a>
		</div>
		<input type="hidden" name="ispassport" value="1" />
	</form>
</div>
<div class="closediv fa fa-close" onClick="top.$('.passportdiv').remove();"></div>
{/block}
{block name="files"}
<link rel="stylesheet" href="/files/passport.css" />
{/block}
{block name="script"}
<script>
function vcodeval(){
	return $("#email").val();
}
$(document).ready(function(){
	$('#form1').submit(function(){
		if(!$(this).find('input[name="email"]').val()){
			top.errmsg('请填写电子邮箱！');
			return false;
		}
		if(!$(this).find('input[name="vcode"]').val()){
			top.errmsg('请填写验证码！');
			return false;
		}
		if(!$(this).find('input[name="repassword"]').val()){
			top.errmsg('请填写确认密码！');
			return false;
		}
		if($(this).find('input[name="password"]').val()!=$(this).find('input[name="repassword"]').val()){
			top.errmsg('两次输入的密码不一致！');
			return false;
		}
		$.post($(this).attr('action'),$(this).serialize(),function(res){
			if(res.ok){
				setTimeout(function(){top.location.reload();},3000);
			}
			top.showmsg(res.msg,0,res.ok);
		},'json');
		return false;
	});
});
</script>
{/block}