{extend name="base/base1"}
{block name="body"}
<div class="wp mt20 mb20 clearfix">
	<div class="userleft">
		{include file="ucenter/menu"}
	</div>
	<div class="userright xiaoxi">
		<div class="righttitle1">系统消息</div>
		{include file="ucenter/msgmenu"}
<div class="msg">
<form name="msgform" method="post" action="javascript:void(0);" id="form1">
	<div class="title3">
		<label><input type="checkbox" value="1" name="chkall" onClick="CheckAll(this.form,this);" />全选</label>
		<input type="submit" name="submit" value="标记为已读" />
		<input type="submit" name="submit" value="删除" />
	</div>
	<ul>
<?php
foreach($syslist as $k=>$v){
?>
	<li idvalue="<?php echo $v[mid]?>">
		<div class="clearfix">
			<div class="ckinput"><input type="checkbox" name="mid[]" value="<?php echo $v[mid]?>" /></div>
			<div class="msgicon<?php echo $v[haveread]?" haveread":""?>"></div>
			<div class="msgtitle"><span class="color2"><?php echo replaceand($v[title])?></span><span class="smalltext"><?php echo preg_replace("/\<.*?\>/is"," ",$v[msgtext])?></span></div>
			<div class="msgtime"><?php echo substr($v[msgtime],0,10);?></div>
		</div>
		<div class="msgtext"><div class="msgtime"><?php echo substr($v[msgtime],10);?></div><?php echo $v[msgtext]?></div>
	</li>
<?php
}
?>
	</ul>
	<?php if($rscount>1){?>
	<div class="title3 btitle3">
		<label><input type="checkbox" value="1" name="chkall2" onClick="CheckAll(this.form,this);" />全选</label>
		<input type="submit" name="submit" value="标记为已读" />
		<input type="submit" name="submit" value="删除" />
	</div>
	<?php }?>
</form>
<?php echo $pagehtml;?>
	</div>
	</div>
</div>
{/block}
{block name="files"}
{/block}
{block name="script"}
<script>
$(document).ready(function(){
	$('#form1 input[type="submit"]').click(function(){
		if($('.ckinput input:checked').length==0){
			errmsg('请先选择消息！');
			return false;
		}
		var submit=$(this).val();
		var res=$('#form1').serializeArray();
		res.push({name:'submit',value:submit});
		res.push({name:'tbtype',value:'sys'});
		if(submit=='删除'){
			layer.confirm('确定删除这些消息吗？',{icon:3,title:'提示信息'},function(index){
				post();
				layer.close(index);
			},function(index){layer.close(index);});
		}else{
			post();
		}
		function post(){
			$.post("<?php echo url('/ucenter/handle')?>",$.param(res),function(res){
				if(res.ok){
					okmsg(res.msg,function(){
						$('.ckinput input:checked').each(function(){
							var mid=$(this).val();
							if(submit=='删除'){
								$('li[idvalue="'+mid+'"]').remove();
							}else{
								$("li[idvalue='"+mid+"']").find(".msgicon").addClass('haveread');
							}
							updateHaveMsg();
						});
						$('#form1 input:checkbox').each(function(){
							$(this)[0].checked=false;
						});
					});
				}else{
					errmsg(res.msg);
				}
			},'json');
		}
		return false;
	});
	$(".msg li .msgtitle,.msg li .msgicon").click(function(e) {
		if($(this).parents("li").hasClass("open")){
			$(this).parents("li").removeClass("open");
		}else{
			$(this).parents("li").addClass("open");
			var id=$(this).parents("li").attr("idvalue");
			if($(this).parents("li").find(".msgicon").hasClass("haveread"))return;
			$.post("<?php echo url('/ucenter/handle')?>",{tbtype:'sys',submit:'read',mid:id},function(data){
				if(data.ok){
					if(data.nomsg)$("[title='您有未读消息']").remove();
					$("li[idvalue='"+id+"']").find(".msgicon").addClass('haveread');
					updateHaveMsg();
				}
				if(data.msg){
					//showmsg(data.msg,0,data.ok);
				}
			},"json");
		}
	});
	$('.msgtext').find('a').each(function(index,element){
		if($(this).attr('target')!='_blank'){
			$(this).attr('target','_blank');
		}
	});
});
function updateHaveMsg(){
	if(!isNaN($('.sysweidu').html())){
		$('.sysweidu').html(parseInt($('.sysweidu').html())-1);
		$('.weidu').html(parseInt($('.weidu').html())-1);
	}
	if($('.sysweidu').html()=='0')$('.sysweidu').remove();
	if($('.weidu').html()=='0'){
		$('.weidu').remove();
		$('.havemsg').remove();
	}
}
function CheckAll(form,chkall){
	$(form).find(':checkbox').prop('checked',$(chkall).is(':checked'));
}
</script>
{/block}