<!doctype html>
<html>
<head>
<meta charset="gb2312">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<title>游记评论 网站</title>
<link href="/skin/dir2/css/style.css" rel="stylesheet" type="text/css" />
<link href="/skin/dir2/css/pinglun.css" rel="stylesheet" type="text/css" />
<script src="/skin/dir2/js/jquery.js"></script>
<script src="/skin/pai3/js/common.js"></script>
<script src="/skin/pai3/js/pinglun.js"></script>
<style>
#pl{width:800px; margin:0 auto;}
</style>
</head>
<body>
<div id="pl"></div><script>var from="<?php echo $_SERVER['HTTP_REFERER']?>";pl(<?php echo $classid?>,<?php echo $yjid?>);</script>
</body>
</html>